.container{
    position: relative;
}

.dropdown{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1000;
    background-color: #f1f1f1;
    width: 250px;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2);
}

.selected{
    border-bottom: 2px solid blue;
}